/*questo è un commento css*/
/*indichiamo che tutti i paragrafi devono essere colorati di blu*/
p {
    color: blue;
}

/*Tutti gli elementi che hanno la classe "testo-rosso" */
.testo-rosso {
    color: red;
}

/*l'elemento con ID "sezione-2"*/
#sezione-2 {
    color: purple;
}

/*tutti gli elementi di tipo A che hanno la classe "testo-rosso"*/
a.testo-rosso{
    color: brown;
}

/*tutti gli elementi di tipo A che hanno le classi "testo-rosso" e "testo-marrone"*/
a.testo-rosso.testo-marrone {
    color: darkred;
}

/* ID=100 CLASSE=010 TAG=001 */

/*tutti gli elementi di tipo A racchiusi all'interno di un elemento con classe "testo principale"*/
.testo-principale a {
    color: yellow;
}

/*tutti gli elementi di tipo A racchiusi all'interno di un paragrafo con classe "testo principale"*/
p.testo-principale a {
    color: yellow;
}

/*tutti gli elementi figli di un paragrafo*/
p > * {
    color: green;
}

/*Seleziona l'elemento di tipo A su cui l'utente ha il mouse*/
a:hover {
    color:red;
}

/**/
/*Regole CSS base*/
body{
    font-size: 16px; /*altezza del testo espressa in pixel*/
}

p {
    color: #141414;; /*colore del testo*/
    background-color: rgb(233, 233, 233); /*sfondo del testo*/
    font-family: Arial, Verdana, sans-serif; /*modifica il font del testo*/
    font-size: 1.5em; /*altezza del testo moltiplicata per 1,5*/
    font-weight: 400; /*larghezza del testo*/
    font-style: italic; /*applicare il corsivo al testo*/
    text-decoration: underline; /*"decorare" il testo con una sottolineatura*/
    text-align:left; /*allineatura del testo*/
    text-transform:uppercase; /*modifica tutto il testo in maiuscolo*/

}

p span{
    font-size: 1.5rem;
}

ul {
    list-style-type: none; /*togliere i "pallini" dall'elenco ordinato*/
}

div#spazi {
    background-color: pink;
    margin: 50px; /*dal bordo della pagina*/
        margin-top: 50px;
        margin-right: 50px;
        margin-bottom: 50px;
        margin-left: 50px;
    padding: 30px; 
    border:4px solid green; /*aggiungere un bordo al paragrafo*/
        border-width: 4px;
        border-style: solid;
        border-color: green;
}
